<div class="bg-gray-50">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
            <div class="space-y-5 sm:space-y-4">
                <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Biking</h2>
                <p class="text-xl text-gray-500">Biking is undoubtedly the number one interest of mine. I started biking at a young age and not long after me and my friends ventured into the forest to find trails to ride. Something I still love doing.</p>
            </div>
            <div class="lg:col-span-2">
                <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/bike/bikingimg_opt.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Åre, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Åre, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">This shot was taken in Åres probably most known downhill track, Shimano. Which is a machine made jump-line built for speed</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/bike/biking2edit.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/McqDihqdM2qBs6MD6">
                                            <span class="sr-only">Åkersberga, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/McqDihqdM2qBs6MD6" class="hover:underline">
                                                <h3>Åkersberga, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">When I moved back to Åkersberga after 5 years in Åre I was amazed to hear they where building a flow-track in my local forrest. It's built for everyone, no matter skill or age.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/bike/biking3.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/ctQaixmjvTEQaydJ6">
                                            <span class="sr-only">Vålådalen, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/ctQaixmjvTEQaydJ6" class="hover:underline">
                                                <h3>Vålådalen, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">Trails. I love trails, this one is located in Vålådalen/Vallbo and flows along the river. It's a lovely sight during spring when the snow is melting and the river is flowing.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/bike/bikefestival.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Åre, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Åre, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500"><a class="hover:underline" href="http://arebikefestival.com/">Åre Bikefestival</a>. The week of the year you cannot miss. There is so much going on, things to see and try. Follow the pro riders, go on guided adventures, compete with the locals, drag burning logs through the town square in Åre, midnight riding down the top of Mt. Åre and more!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/bike/burninglogs.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Åre, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Åre, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">Did you not believe me about the logs?!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/bike/dig1.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://www.trailforks.com/trails/vafflan/">
                                            <span class="sr-only">Våfflan Åre, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://www.trailforks.com/trails/vafflan/" class="hover:underline">
                                                <h3>Våfflan Åre, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">Without trailbuilders we would not have all these nice trails to ride. I have tried to help out whenever I could too. It's fun, decent exercise and when you are done it's so rewarding. Here, building on possibly the best trail in Jämtland, Våfflan.</p>
                            </div>
                        </div>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</div>