<div class="bg-gray-50">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
            <div class="space-y-5 sm:space-y-4">
                <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Code!</h2>
                <p class="text-xl text-gray-500">I've always been interested in how things work and to fix stuff & things. Spent roughly 15 years as an electrician leaning more and more towards modern technology and automation systems. Until one day I decided to drop it all and study developing/programming for two years at <a href="https://chasacademy.se/featured-content/fullstack-webbutvecklare/" class="hover:underline">Chasacademy</a>.</p>
            </div>
            <div class="lg:col-span-2">
                <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/dev/fullstack.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Stockholm, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Stockholm, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">Fullstack - When I started studying at <a href="https://chasacademy.se/featured-content/fullstack-webbutvecklare/" class="hover:underline">Chasacademy</a> in late 2019 I was not sure about the difference between frontend and backend developing and what it actually meant. So I chose to learn it all, and thus I chose the fullstack path. I don't regret it one bit, but I must say I found the backend work more fun. Creating the logic, functions and making sure a database is working optimally, to name a few tasks</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/dev/frontend.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Stockholm, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Stockholm, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">Frontend - What the user sees. Frontend for me has way more work to it than I first imagined. A good frontend developer needs to know a lot. For a website or mobile app to be user friendly there is a lot of work behind it, and to help everyone be able to use it you need to know your accessibility!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/dev/backend.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Stockholm, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Stockholm, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">
                                    Backend - As for backend we learnt PHP for our go-to language and how to create and work with databases. We worked with object oriented programming to maintain a good structure, created and developed databases, basic knowledge of a web server, MVC structure, how to call and implement data from APIs, create our own RESTful APIs and more. But during my internship I worked almost exclusively with C# in the .Net environment. For the most part with Episerver/Optimizely
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>