<div class="bg-gray-50">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
            <div class="space-y-5 sm:space-y-4">
                <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Code!</h2>
                <p class="text-xl text-gray-500">I've always been interested in how things work and to fix stuff & things. Spent roughly 15 years as an electrician leaning more and more towards modern technology and automation systems. Untill one day I decided to drop it all and study developing/programming for two years at <a href="https://chasacademy.se/featured-content/fullstack-webbutvecklare/" class="hover:underline">Chasacademy</a>.</p>
            </div>
            <div class="lg:col-span-2">
                <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
                    <li>
                        <div class="space-y-4">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/code.jpg" alt="">
                            </div>
                            <div class="text-lg leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Stockholm, Sweden</span>
                                            <img class="h-8 w-8" src="assets/img/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Stockholm, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg">
                                <p class="text-gray-500">During my two years studying the primary language we used was JavaScript, with variations and libraries. I did however spend most of my time writing C# at my internship at TietoEvry.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>