<div class="bg-gray-50">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
        <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
            <div class="space-y-5 sm:space-y-4">
                <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Wood</h2>
                <p class="text-xl text-gray-500">I bought my own flat in ÅRE! Coming from renting a tiny flat almost in the cellar of a house for a while I finally managed to get my own place. Now, I needed to fill it with furniture and stuff, right? So I sat down scrolling the web to find something I liked. With a brand new flat I really wanted to give this some thought and time. And it didn't take long until I realized the furniture I fancied was rather expensive. So I decided to try and build some of my own. Which lead to a couple of projects I thought I would show here</p>
            </div>
            <div class="lg:col-span-2">
                <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/wood/table1.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Åre, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Åre, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">So I built it all here, it's just about big enough to fit whatever I needed to build the table</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/wood/table2.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Åre, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Åre, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">The table is heavy, and bulky! So I decided not to make it too hard to move around. The tabletop can therefore be removed with a couple of bolts each side mounted through the legs of the table.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/wood/table3.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="text-sm leading-6 font-medium space-y-1">
                                    <div class="mt-6 flex items-center">
                                        <div class="flex-shrink-0 pl-2">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                                <span class="sr-only">Åre, Sweden</span>
                                                <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                            </a>
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm font-medium text-gray-900">
                                                <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                    <h3>Åre, Sweden</h3>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">Speaking of bulky, even the lower beam holding the legs together can be removed with a sprint. I really hope I don't have to move the table much anyway!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/wood/table4.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="text-sm leading-6 font-medium space-y-1">
                                    <div class="mt-6 flex items-center">
                                        <div class="flex-shrink-0 pl-2">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                                <span class="sr-only">Åre, Sweden</span>
                                                <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                            </a>
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm font-medium text-gray-900">
                                                <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                    <h3>Åre, Sweden</h3>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">Finished product! Well, almost. It still needed a good sanding and a paint-job. But I am super happy with the result, it fits the flat great and I can finally have a bunch of friends over for dinner without them taking turns standing up eating</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="space-y-4 rounded-lg shadow-lg bg-white">
                            <div class="aspect-w-3 aspect-h-2">
                                <img class="object-cover shadow-lg rounded-lg" src="/assets/img/wood/hallen.jpg" alt="">
                            </div>
                            <div class="text-sm leading-6 font-medium space-y-1">
                                <div class="mt-6 flex items-center">
                                    <div class="flex-shrink-0 pl-2">
                                        <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7">
                                            <span class="sr-only">Åre, Sweden</span>
                                            <img class="h-6 w-6" src="assets/ico/pos.png" alt="">
                                        </a>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-gray-900">
                                            <a href="https://goo.gl/maps/fKeYXY9VNzmS38vb7" class="hover:underline">
                                                <h3>Åre, Sweden</h3>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-lg pl-2 pb-2">
                                <p class="text-gray-500">I also needed a good place to store my jackets, shoes, helmets and more in the halway. Again, I started looking around on the web for a good solution but ended up building this. Pretty happy with the result too. It may not be the prettiest I've seen but it definetly gets the job done</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>